package challenges

import (
	"testing"

	"github.com/stretchr/testify/assert"
)

func TestDay{{.Day}}(t *testing.T) {
	d := Day{{.Day}}{}
    assert.NotNil(t, d)
	//err := d.Load("testfiles/d{{.Day}}demo.txt")
	//assert.NoError(t, err)
	//assert.Len(t, d.rawInput, 10)
}
